html{
    background-color: white;
    position: absolute;
    z-index: 0;

}


  header {
    background-color: blue;
    z-index: 1;
    color: white;
    border-radius: 0% 0% 0% 0%;
    text-align: center;
    width: 1917px;
    left: -100px;
    position: absolute;
    nav-up: auto;
    font-size: 34;
}
.titulo{
    text-align: center;
    text-shadow:
        0 0 5px rgba(0,178,255,1),
        0 0 10px rgba(0,178,255,1),
        0 0 20px rgba(0,178,255,1),
        0 0 40px rgba(38,104,127,1),
        0 0 80px rgba(38,104,127,1),
        0 0 90px rgba(38,104,127,1),
        0 0 100px rgba(38,104,127,1),
        0 0 140px rgba(38,104,127,1),
            0 0 180px rgba(38,104,127,1);

}

#carrito{
    z-index: 3;
    position: relative;
    width: 40px;
    left:1770px;
}

#casa{
    z-index: 3;
    position: relative;
    width: 40px;
    left: 1670px;
}

#login{
    z-index: 3;
    position: relative;
    width: 35px;
    left: 1570px;
}

main header nav > label {
    z-index: 4;
	position: relative;
    width: 30px;
	height: 30px;
	margin-top: 30px;
	margin-left: 12px;
	background-image: url('https://cdn.discordapp.com/attachments/340641487488417802/833814145929052221/rallitas.png');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
    right: 840px;
    bottom: 65px;
}
#lateral {
    z-index: 4;
    border: 3px solid black;
    position: absolute;
    height: 100%;
    width: 150px;
    top: 60px;
    left: -150px;
    transition: all 0.2s linear;
    z-index: 10;
    background-color: white;
}
#checkLateral {
    z-index: 4;
    display: none;
}
#checkLateral:checked ~ #lateral {
    z-index: 4;
    left: 15px;
}

#Slide {
    z-index: 4;
    position: relative;
    width: 100%;
    z-index: 1;
    top:100px;
    left:395px;
    width:10000px;
    height:12px;

}

#boton1{
    z-index: 4;
    position: relative;
    bottom: -150px;
    left: 407px;  
    height: 40px ;
    width: 200px;  
    background-color: white;

}
#boton2{
    z-index: 4;
    position: relative;
    bottom: -110px;
    left: 945px;  
    height: 40px ;
    width: 200px;  
    background-color: white;

}
#boton3{
    z-index: 4;
    position: relative;
    bottom: -70px;
    left: 1505px;  
    height: 40px;
    width: 200px;  
    background-color: white;


}

#Supermercadot{
    position: relative;
    left: 950px;
    top: 500px;
    color: black;
}

.tarjeta{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 407px;
    top: 560px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
.tarjeta2{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 944px;
    top: 180px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
.tarjeta3{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 310px;
    left: 1500px;
    top: -195px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.tarjeta4{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 410px;
    top: -100px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.tarjeta5{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 945px;
    top: -480px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.card-text{
    color: white;
}

#electro{
    position: relative;
    left: 1000px;
    top: -250px;
    color: black;
}

.tarjeta6{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 407px;
    top: -100px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.tarjeta7{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 945px;
    top: -455px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.tarjeta8{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 1500px;
    top: -810px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.tarjeta9{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 945px;
    top: -640px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}

.tarjeta10{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 407px;
    top: -1000px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}


#Hogar {
    position: relative;
    left: 1000px;
    top: -800px;
    color: black;
}

.tarjeta11{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 407px;
    top: -600px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
.tarjeta12{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 950px;
    top: -955px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
.tarjeta13{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 1500px;
    top: -1315px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
.tarjeta14{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 407px;
    top: -1200px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
.tarjeta15{
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    left: 955px;
    top: -1555px;
    word-wrap: break-word;
    background-color:blue;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: black;
    border-width: 3px;
}
